<div class="temp_box" id="new_user_box">
	<h3>Welcome to Cliqs!</h3>
	<p>Want to make a new cliq? Access this option by clicking on the gray box in the top-right of your screen.</p>
	<p>Just accepted an invite to a cliq? Start participating! Click on your cliq's name at the top of page
		to view the homepage.</p><br>
	<p>Hope you enjoy! - The Cliqs Team</p>
	
	<%= link_to 'x', 'users/remove_new_user_box', :class => "ex", :remote => true  %>
</div>