
<h1>User's hub </h1>

<% if current_user.how_to_box %>
	<%= render 'users/new_user_box' %>
<% end %>

<p>Welcome, <%= current_user.name %></p>

<%= link_to 'Change password', '/users/changePassword' %><br>
<%= link_to 'Email settings', '/users/emailSettings' %>

