<div class="comment_container">
    <div class="comment_author">
      <%= link_to comment.user.name, comment_profile(comment) %>
    </div>
    
    <div class="comment_body"><%= nl2br(comment.body) %></div>
    
    <div class="comment_time"><%= comment.created_at %></div>
</div>