<div class="comment_container">
	
	<div class="comment_picture">
		<%= link_to post_pic_for(comment.user, 64), comment_profile(comment) %>
	</div>
	
	<div class="comment_right">
	
	    <div class="comment_author">
	      <%= link_to comment.user.name, comment_profile(comment) %>
	    </div>
	    
	    <div class="comment_body"><%= auto_link nl2br(comment.body), :all, target: '_blank' %></div>
	    
	    <div class="comment_time"><%= format_datetime(comment.created_at) %></div>
	    
	</div>
	<div class="clear"></div>
</div>