<h1>Home page</h1>

<% if !signed_in? %>
	<%= link_to "Sign up", signup_path %><br>
	<%= link_to "Sign in", signin_path %>
<% else %>
	Name: <%= current_user.name %><br>
	<%= link_to "Sign out", signout_path %>
<% end %>
