<h2>Members of <%= @current_cliq.name %></h2>
	
<% @members.each do |member| %>
	<div class="member_link_container">
		<%= link_to member.profiles.where(:cliq_id => @current_cliq.id).first, :class => "member_image" do %>
			<%= gravatar_for(member, 90) %>
			<br><%= member.first_name %>
		<% end %>
	</div>
<% end %>
