.big-photo-container {
  width: 600px;
  background: #3f3f3f;
  border: 1px solid #3f3f3f;
}

.big-photo {
  display: block;
  margin: 0 auto;
}

.photos-show-left {
  width: 600px;
  float: left;
}

.photos-show-right {
  float: left;
  width: 340px;
  margin-left: 20px;
  
  h3 {
    padding: 0;
    margin: 0;
  }
  
  .comment_container {
    width: 320px;
    padding: 0;
    padding: 10px 10px;
  }
  
  .comment_right {
    width: 230px;
  }
}
