.big-photo {
  display: block;
  margin: 0 auto;
}

.photos-show-left {
  width: 600px;
  float: left;
}

.photos-show-right {
  float: left;
  width: 340px;
  margin-left: 20px;
  
  h3 {
    padding: 0;
    margin: 0;
  }
  
  .comment_container {
    background: none;
    width: 340px;
    padding: 0;
    margin-bottom: 15px;
  }
  
  .comment_right {
    width: 230px;
  }
}
