<div id="cliqnav">
	<ul class="cliqnav">
		<li>
			<%= link_to @current_cliq do %>
				<%= image_tag "icons/home.png", :height => 24, :width => 31, :class => 'home', :alt => 'home' %>
			<% end %>
		</li>
		<li>
			
		</li>
		<li>
			
		</li>
	</ul>
</div>